
/* body {

    background-color: #fafafa;
} */
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 260px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

#welcome_title {
    left: 300px;
    color: black;
    position: relative;
    top: 20px;
}

.sidenav_title {
    font-size: 24px;
    color: whitesmoke;
    margin-left: 15px;
}

.sidenav_search {
    font-size: 18px;
    color: whitesmoke;
    margin-left: 15px;
    margin-bottom: 60px;

}

.sidenav_footer {
    position: relative;
    font-size: 10px;
    color: #818181;
    margin-left: 65px;
    top: 48em;
}


nav {
    display: flex;
    justify-content: space-around;
    min-height: 40px;
    align-items: center;
}

/* .logo {
   float: left;
} */

#nav_h1 {
    display:inline-block;
    align-items: center;
    font-weight: normal;
    font-size: 36px;
    margin-left: 15px;
}

.nav-items, .footer-items{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 15%;

}

h5 {

    font-weight: bold;
}

article {
    margin-left: auto;
    margin-right: auto;
    width: 85em;
    line-height: 150%;
   
}

#article_h1 {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    margin: 0;
    padding: 15px;
    background: #eee;
    border-radius: 1px;
}

blockquote footer {
    margin-left: 70em;
}

blockquote p, footer::before {
    content: '\201C';
}

blockquote p, footer::after {
    content: '\201D';
}


